.MainContainer{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 75%;
}
.start{
    justify-content: start;
}
.LayoutContainer{
    min-width: 576px;
    max-width: 100%;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc((100% - 75%)/2);
}
