.footerContainer {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 1) 50%, rgba(255, 111, 0, 1) 50%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 50%, rgba(255, 111, 0, 1) 50%);
    background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 50%, rgba(255, 111, 0, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ff6f00", GradientType=1);
    color: #fff;
}
.socialMediaList{
    list-style: none;
    display: flex;
    gap: 1em;
}
.socialMedia{
    cursor: pointer;
    transition: all ease-in 0.1s;
}
.socialMedia svg{
    font-size: 1.5em;
}
.socialMedia:hover{
    color: rgba(255,111,0,1);
}