
.navContainer{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(255,111,0,1) 25%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(255,111,0,1) 25%);
    background: linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(255,111,0,1) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ff6f00",GradientType=1);
}
.logo{
    max-width:100%;
    transition: all ease-in 0.3s;
}
.logo:hover{
    filter: drop-shadow(0px 0px 13px #ffb005);
}
.linksList{
    display: flex;
    justify-content: end;
    gap: 1em;
    width: 50%;
    list-style: none;
    align-items: center;
}
.link{
    position: relative;
    z-index: 1;
}
.link::before {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    z-index: 0;
    content: "";
    height: 2px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#ffffff",
        endColorstr="#ffffff",
        GradientType=1
    );
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all 0.3s;
}

.link:hover::before {
    display: block;
    width: 100%;
}

.link a{
    text-decoration: none;
    color: #fff;
}